.item {
    background-image: url(../../image/library_bg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 220px 0 220px;
    position: relative;
    color: #ffffff;
    z-index: 1;
}

.blackout {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.3;
    z-index: -1;
}

.welcome {
    margin-bottom: 10px;
}

.button {
    margin-top: 40px;
}

.text {
    width: 45%;
    font-size: 22px;
    text-align: justify;
}

.content {
    padding-left: 200px;
}
